[submodule "Detection/sigma-detect-autoit"]
	path = Detection/sigma-detect-autoit
	url = https://github.com/christian-taillon/detect-autoit
[submodule "Detection/AutoIT-Seeker"]
	path = Detection/AutoIT-Seeker
	url = git@github.com:christian-taillon/AutoIT-Seeker.git